.customers__feedback-rows {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.customers__feedback {
  margin: 0 15px;
}

.customers__feedback__comment {
  width: 298px;
  background-color: #e2e2e2;
  padding: 9px 22px;
  position: relative;
  margin-bottom: 22px;
}

.customers__feedback__comment::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
  right: 77%;
  top: 100%;
}

.customers__feedback__user {
  width: 212px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.customers__feedback__user-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.customers__feedback__user-img img {
  height: 100%;
  display: block;
}
.customers__feedback__user-data {
  width: 97px;
  text-align: right;
}
.customers__feedback__user-name {
  margin-top: 8px;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
}
.customers__feedback__user-post {
  margin-top: 12px;
}
