#header__logo {
  font-size: 30px;
  font-weight: 400;
}

.header {
  background: rgba(0, 0, 0, 1);
  padding: 20px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.nav__list-item {
  transition: 0.2s;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
.nav__list-item a {
  transition: 0.2s;
}
.nav__list-item a {
  color: rgba(255, 255, 255, 0.7);
}

.nav__list-item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid rgba(236, 121, 121, 1);
}
.nav__list-item:hover a {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item:active a {
  color: rgba(236, 121, 121, 1);
}
