@import url('awesome.css');
@import url('cdn.css');
@import url('pricing.css');
@import url('customers.css');
@import url('axure.css');
@import url('header.css');
@import url('social.css');
@import url('footer.css');
@import url('firstscreen.css');
@import url('tabs.css');
@import url('contact.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 2;
}

section {
  padding: 80px 0;
}

.title {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 1);
  max-width: 668px;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.title::after {
  content: ' ';
  background: rgba(231, 36, 36, 1);
  height: 2px;
  width: 64px;
  display: block;
  margin: 34px auto;
}

.text p {
  color: rgb(134, 135, 139);
  max-width: 780px;
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.gray-text {
  color: rgba(134, 135, 139, 1);
}
.white-text {
  color: rgba(255, 255, 255, 1);
}
.transparent-btn {
  display: block;
  background: transparent;
  width: 135px;
  padding: 11px 26px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.transparent-btn:hover {
  background-color: rgba(236, 121, 121, 1);
  transform: translateY(-10%) scale(1.1);
  color: rgb(57, 57, 58);
  border: 1px solid transparent;
}
.transparent-btn:active {
  background-color: rgb(199, 102, 102);
  transform: translateY(-20%) scale(1);
  color: rgb(57, 57, 58);
  border-color: rgb(57, 57, 58);
}
.colored-btn {
  background-color: rgba(236, 121, 121, 1);
  width: 135px;
  height: 42px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.logo {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.logo::after {
  content: 'it';
  text-transform: uppercase;
  color: rgba(236, 121, 121, 1);
  position: absolute;
  left: 100%;
  font-family: 'Raleway', sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
  line-height: 19px;
}
.form__input {
  display: block;
  border: none;
  border-bottom: 2px solid rgba(189, 189, 189, 1);
  width: 100%;
  padding: 3px;
  outline: none;
}
