.pricing {
  background-color: rgba(245, 245, 245, 1);
}
.pricing__tickets-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.pricng__ticket {
  width: 340px;
  text-align: center;
  margin: 0 15px;
}
.ticket__options-name {
  font-weight: 700;
  font-size: 20px;
  padding: 12px 0;
}
.ticket__options-price {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  padding: 30px 0;
}
.ticket__options-description {
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.5);
}

.ticket__option {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
  
}

.dark-colored {
  background-color: rgba(51, 51, 51, 1);
  margin-top: 2px;
}
.light-colored {
  background-color: rgba(255, 255, 255, 1);
}
#pricing__text {
  margin-bottom: 60px;
}
